<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>học node</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <div>

        <div class="w3-container">
            <h2>Table</h2>
            <%= datauser %>
                <table class="w3-table-all w3-hoverable">
                    <thead>
                        <tr class="w3-light-grey">
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < datauser.length; i++){ %>
                            <tr>
                                <td>
                                    <%= datauser[i].id %>
                                </td>
                                <td>
                                    <%= datauser[i].firstName %>
                                </td>
                                <td>
                                    <%= datauser[i].lastName %>
                                </td>
                                <td>
                                    <%= datauser[i].address %>
                                </td>
                                <td>
                                    <button type="button">Detail</button>
                                    <button type="button">Edit</button>
                                    <button type="button">Delete</button>
                                </td>
                            </tr>
                            <% } %>

                    </tbody>
        </div>


    </div>
    <div>
        <div class="create-user-container">
            <form action="/createuser" method="post">
                <div>Create a new use:</div>
                <div>
                    <label>FirstName:</label>
                    <input type="text" name="firstName" />
                </div>
                <div>
                    <label>LastName:</label>
                    <input type="text" name="lastName" />
                </div>
                <div>
                    <label>Email:</label>
                    <input type="email" name="email" />
                </div>
                <div>
                    <label>Address:</label>
                    <input type="text" name="address" />
                </div>
                <div>
                    <button type=" submit" class="btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>


</body>

</html>